<h1>All USERS</h1>

<table class="table mt-7" style="border: 3px solid;border-collapse: separate;border-spacing: 2px;
border-color: rgb(8, 188, 219);">
    <thead>
        <tr>
        <th>Name</th>
        <th>Email</th>
        </tr>
    </thead>
    <tbody>
     {{#each allus}} 
        <tr>
        <td>{{this.Name}}</td>
        <td>{{this.Email}}</td>
        </tr>
     {{/each}}
        
    </tbody>
</table>