 <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/admin/adlogin">Admin Panel</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin/adlogin">All Products<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/allOrders">All Orders</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/admin/allUsers">All users</a>
                    </li>
                   
                </ul>
                <div class="dropdown m-auto">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{#if admin}}
                           {{admin.Name}}   <!--ABHIJITH.R.B-->
                        {{else}}
                            Sp.Account
                        {{/if}}  

                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                            {{#if admin}}
                            <a class="dropdown-item" href="/admin/adlogout">Logout</a>
                            {{else}}
                            <a class="dropdown-item" href="/admin/adlogin">Login</a>
                            {{/if}}  

                </div>
                </div>
               <!-- <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> -->
            </div>
        </nav>
    </header>